body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Helvetica", cursive, sans-serif;
    background: linear-gradient(to bottom, rgb(204, 195, 235), rgb(252, 223, 199));
}

#screen {
    display: block;
}

#speedLabel {
    font-size: 24px;
    font-family: "Helvetica", cursive, sans-serif;
    margin-bottom: 1em;
    margin-right: .4em;
}

#speed {
    -webkit-appearance: none;
    background-color: rgb(156, 165, 217);
}

#speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    border: 1px solid transparent;
}

#speed::-webkit-slider-thumb:hover {
    background-color: rgb(196, 205, 255);
    border-color: black;
}

#speed::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: rgb(41, 41, 41);
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0;
}

#speed::-moz-range-thumb:hover {
    background-color: rgb(196, 205, 255);
    border-color: black;
}

.projectHeader {
    margin-top: 50px;
    margin-bottom: 25px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar-track {
    background-color: rgb(174, 165, 205);
}

* {
    scrollbar-width: 15px;
    scrollbar-color: rgb(60, 60, 60) rgb(174, 165, 205);
}

.button {
    font-size: 24px;
    font-family: "Helvetica", cursive, sans-serif;
    margin-bottom: 1em;
    background-color: rgb(156, 165, 217);
    color: black;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, border-color 0.3s;
    min-width: 90px;
    width: auto;
}

.button:hover {
    background-color: rgb(196, 205, 255);
    
}

.button:active {
    background-color: rgb(216, 225, 255);
}

canvas {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    text-align: center;
}

@media (max-width: 500px) {
    .container {
        transform: scale(0.5);
    }
    
    body {
        height: 310vh;
    }
}

@media (max-width: 400px) {
    .container {
        transform: scale(0.4);
    }
    
    body {
        height: 250vh;
    }
}